$fondo: #fff !important;
$secondary-color: #141414 !important;
$red-btn: #F44336; 

body{
  margin: 0;
  padding: 0;
  background: $fondo;
  overflow-x: hidden;
}
.side-nav{
  top: 63px;
  width: 250px;
}
video.responsive-video{
  height: 300px;
}
#sidenav-overlay{
  z-index: 0;
}
nav{
  background: $fondo;
  ul.left{
    margin-left: 30%;
  }
  ul.right{
    margin-right: 30%;
  }
}
a{
  color: $secondary-color;
}
#element::-webkit-scrollbar { 
  display: none; 
}
::-webkit-scrollbar { 
  display: none; 
}
.collection{
  .collection-item.avatar{
    min-height: 0;
  }
}
#logo-ca{
  width: 50px;
}
#laptop-svg,#phone-svg{
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;  
}
#sombrero-svg,#experience-svg{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;  
}
.section1{
  .carousel-item{
    h1{
      font-family: 'Questrial', sans-serif;
    }
  }
}
.section2{
  margin-top: 20px;
  ul{
    #descripcion{
      p{
        padding: 0 10px 0 10px;
      }
    }    
  }
}
.see_project{
  text-align: center;
  margin-top: 50px;
}
.section4{
  margin-top: 100px;
  ul{
    text-align: center;
    li{
      display: inline-block;
      margin-left: 20px;
      img{
        width: 200px;
        height: 200px;
      }
    }
  }

}
footer{
  background: black !important;
  color: $fondo;
  ul{
    text-align: center;
    li{
      text-align: center;
      font-size: 5em;
      margin-left: 50px;
      display: inline-block;
    }
  }
}