$fondo: #fff !important;
$secondary-color: #141414 !important;


body{
  margin: 0;
  padding: 0;
  background: $fondo;
  overflow-x: hidden;
}
.side-nav{
  top: 63px;
  width: 250px;
}
video.responsive-video{
  width: 100%;
}
#sidenav-overlay{
  z-index: 0;
}
nav{
  background: $fondo;
  ul.left{
    margin-left: 30%;
  }
  ul.right{
    margin-right: 30%;
  }
}
a{
  color: $secondary-color;
}
#element::-webkit-scrollbar { 
  display: none; 
}
::-webkit-scrollbar { 
  display: none; 
}
#logo-ca{
  width: 50px;
}
.section1{
  .carousel-item{
    h1{
      font-family: 'Questrial', sans-serif;
    }
  }
}
.section2{
  margin-top: 20px;
  ul{
    #descripcion{
      p{
        padding: 0 10px 0 10px;
      }
    }    
  }
}
footer{
  background: black !important;
}