nav {
  display: grid;
  grid-template-columns: minmax(auto, 90%);
  justify-content: center;
  font-family: "Muli", Arial, Helvetica, sans-serif;
  & ul{
    display: grid;
    grid-template-columns: 50% 1fr 1fr 1fr 1fr;
    list-style: none;

    & li{
      
      align-self: center;

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5){
        justify-self: center;
      }

      & a{
        text-decoration: none;
        color: var(--darkColor);
        font-weight: 300;
        &:hover{
          color: var(--grayColor);
        }
      }
    }
  }
  
  & h1 {
    font-weight: 300;
    font-size: 1.5em;
  }
  & img {
      width: 100px;
  }
}
