@import "./variables.css";
@import "./header.css";
@import "./why.css";

*,body{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
main{
    display: grid;
}