#why {
    padding: 50px 0; 
    & ul{
        display: grid;
        list-style-type: none;
        grid-template-columns: 40% 1fr;
        & li.avatar{
            display: grid;
            grid-template-columns: 40% 1fr;
            box-shadow: var(--boxShadow);
            & .circle{
                margin: 20px;
                width: 200px;
            }
            & h2{
                font-weight: 300;
                font-size: 1.1em;
            }
            & .titleContainer{
                align-self: center;
            }
        }
        & li.description{
            padding: 30px;
            text-align: justify;
        }
    }
}